@use '../../styles/utils/library';

.container {
  // background-color: library.$search-bk;
  width: 500px;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border-radius: 50px;
  box-shadow: 0 5px 7px grey;
}