@use '../../styles/utils/library';


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  // grid-row: 3/4;
  // grid-column: 1/7;

  .post {
    background-color: white;
    padding: 2em;
    border-radius: library.$border-radius;
    height: 345px;

    .info {
      display: flex;
      gap: 2em;
      margin: 10px 0;

    }

    .bodyText {
      width: 50%;
      margin: 10px 0;
    }

    .stats {
      display: flex;
      gap: 2em;
    }

    &:nth-child(odd) {
      grid-column: 1/2;
    }

    &:nth-child(even) {
      grid-column: 2/3;
    }
  }
}