@use '../../styles/utils/library';

.container {
  background-color: white;
  padding: 2em;
  border-radius: library.$border-radius;
  height: 345px;

  .info {
    display: flex;
    gap: 2em;
    margin: 10px 0;

  }
  .bodyText {
    width: 50%;
    margin: 10px 0;
  }

  .stats {
    display: flex;
    gap: 2em;
  }
}