@use '../../styles/utils/library';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  height: 100%;
  border-radius: library.$border-radius;
  background-color: white;
}

.text,
.icon {
  justify-self: center;
  align-self: center;
  text-align: center;
  // margin: 0 30px;
}

.icon {
  height: 50px;
  // width: 50px;
  border-radius: 50px;
  flex-basis: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: library.$background-col;
  color: library.$icon-active;
}
.text {
  flex-basis: 70%;
}