@use '../styles/utils/library';

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: library.$gap;

  .inner {

    background-color: white;
    border-radius: library.$border-radius;
    padding: 30px;
    &:nth-child(odd) {
      grid-column: 1/2;
    }
    &:nth-child(even) {
      grid-column: 2/3;
    }
  }

  h1 {
    margin-bottom: 15px;
  }

  p {
    width: 70%;
  }
}