@use '../styles/utils/library';

.container {
 padding: 10px;
 background-color: white;
 height: 100%;
 border-radius: 0 0 20px 0;
}

.header {
  height: 130px;
  border-bottom: 1px solid library.$background-col;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navItem {
  margin-bottom: 20px;
}


